// $color-pink: #fc557c;
$color-bg-footer: #031436;
// $color-grey: #8993ad;
$color-bg-checkbox: #c6c8cc;
$color-bg-text: #fff;
// $color-white: #ffffff;
// $color-success-bg: #06b52b;
$color-border: #505050;

$color-grey: #666666;
$color-white: #fff;
$color-green: #b3c618;
$color-blue: #5bc0de;
$color-pink: #f24968;

$color-main-bg: #fbfbfb;
