.footer {
  margin-top: 30px;
  background-color: #031436;
  color: #fff;
}

.footer__copy-rights {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0;
}

#autosubstitution {
  z-index: 100;
}

