<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <table class="main-table" style="width: 960px; margin: 0 auto;">
        <tr>
            <td colspan="12">
                <a class="report-link" href="" style="font-size: 16px;">Показать отчет в браузере</a>
            </td>
        </tr>

        <tr>
            <td colspan="12" style="border-bottom: 1px solid #000;">
                <h1 class="py-4">Дежурная сводка охраны за 23 - 24.12.2020 число</h3>
            </td>
        </tr>

        <tr>
            <td colspan="4" style="width: 33%;"></td>
            <td colspan="4" style="width: 33%;"></td>
            <td colspan="4" style="width: 33%;">
                <h2>Состав Смены:</h2>

                <ul class="">
                    <li class="">Иванов И.И</li>
                    <li class="">Иванов И.И</li>
                    <li class="">Иванов И.И</li>
                    <li class="">Иванов И.И</li>
                </ul>
            </td>
        </tr>

        <tr>
            <td colspan="12">
                <table style="width: 100%; margin-bottom: 20px;">
                    <tr>
                        <th colspan="4" style="padding: 10px 10px;
                        text-align: start;
                        font-size: large;
                        border-bottom: 1px solid #000;">Нерешенные неисправности</th>
                    </tr>
                    <tr>
                        <th>Система</th>
                        <th>Название</th>
                        <th>Место</th>
                        <th>Дата возникновения</th>
                    </tr>

                    <tr>
                        <td>Охрана периметра</td>
                        <td>Камера номер 10</td>
                        <td>Пятая хата с краю</td>
                        <td>24.12.2020</td>
                    </tr>
                    <tr>
                        <td>Охрана периметра</td>
                        <td>Камера номер 10</td>
                        <td>Пятая хата с краю</td>
                        <td>24.12.2020</td>
                    </tr>
                    <tr>
                        <td>Охрана периметра</td>
                        <td>Камера номер 10</td>
                        <td>Пятая хата с краю</td>
                        <td>24.12.2020</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="6" style="width: 50%;">
                <table style="width: 100%; border: 1px solid #000; border-collapse: collapse;">
                    <tr>
                        <th colspan="2" style="border: 1px solid #000; padding: 5px 10px;">Автотранспорт</th>
                    </tr>

                    <tr>
                        <td style="border: 1px solid #000; padding: 5px 10px;">Всего</td>
                        <td style="border: 1px solid #000; padding: 5px 10px;">3</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 5px 10px;">Всего</td>
                        <td style="border: 1px solid #000; padding: 5px 10px;">3</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 5px 10px;">Всего</td>
                        <td style="border: 1px solid #000; padding: 5px 10px;">3</td>
                    </tr>
                </table>
            </td>

            <td colspan="6" style="width: 50%;">
                <table style="width: 100%; border: 1px solid #000; border-collapse: collapse;">
                    <tr>
                        <th colspan="2" style="border: 1px solid #000; padding: 5px 10px;">Автотранспорт</th>
                    </tr>

                    <tr>
                        <td style="border: 1px solid #000; padding: 5px 10px;">Всего</td>
                        <td style="border: 1px solid #000; padding: 5px 10px;">3</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 5px 10px;">Всего</td>
                        <td style="border: 1px solid #000; padding: 5px 10px;">3</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; padding: 5px 10px;">Всего</td>
                        <td style="border: 1px solid #000; padding: 5px 10px;">3</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>